.main-container {
	position: relative;
	margin-left: 300px;
	width: 100%;
	background: rgba(138, 68, 200, 0.25);
	padding: 30px;

	.cards {
		margin: 0px 50px;
	}
}

.sectionGap {
	margin-bottom: 100px;
}
.sectionTitle {
	font-size: 30px;
	text-align: left;
	padding-bottom: 40px;
}

.projectCards {
	.left {
		align-self: flex-start;
	}
	.right {
		align-self: flex-end;
	}
}
.projectsTimeline {
	display: flex;
	justify-content: center;

	.timeline {
		width: 10%;
		display: flex;
		justify-content: center;

		.circle {
			height: 20px;
			width: 20px;
			border-radius: 50%;
			background-color: purple;
			position: absolute;
			left: -5px;
		}
	}
	.timelinediv {
		width: 10px;
		background: rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		position: relative;
	}
	.gap {
		width: 400px;
		height: 400px;
	}
}
