.main-container {
	position: relative;
	margin-left: 300px;
	width: 100%;
	background: rgba(138, 68, 200, 0.25);
	padding: 30px;

	.cards {
		margin: 0px 50px;
	}
}

.sectionGap {
	margin-bottom: 100px;
}
.sectionTitle {
	font-size: 30px;
	text-align: left;
}
